<p-sidebar class="sidebar" [(visible)]="sidebarVisible" [style]="{ width: '250px' }">

  <div class="container">

    <p-button (click)="navigate('/lines')" class="container__button" label="lines" [outlined]="true" severity="warning" />

    <p-button (click)="navigate('/hours')" class="container__button" label="horas" [outlined]="true" severity="warning" />

    <p-button (click)="navigate('/islands')" class="container__button" label="islas" [outlined]="true" severity="warning"  />

    <p-button (click)="navigate('/locations')" class="container__button" label="localizaciones" [outlined]="true" severity="warning" />

  </div>

</p-sidebar>
