
.container {

  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Incluye padding y border en el ancho */


  &__button {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    color: orangered;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: white;

  }
}


