<div class="navbar">

  <p-button
    icon="pi pi-bars"
    (click)="toggleSidebar()"
  >
  </p-button>

  <p-button class="navbar__button" label="lines"
  (click)="navigate('/lines')"></p-button>

  <p-button class="navbar__button" label="localizaciones"
    (click)="navigate('/locations')"></p-button>

  <p-button icon="pi pi-power-off" class="navbar__button--logout" severity="warning" />
</div>

<div class="progress-container">
  <p-progressBar [color]="'#f39c12'" [style]="{ height: '5px' }" [mode]="mode"></p-progressBar>
</div>
