<div class="navbar">

  <p-button
    icon="{{ (sidebarVisible$ | async) ? 'pi pi-chevron-left' : 'pi pi-chevron-right' }}"
    (click)="toggleSidebar()"
  >
  </p-button>

  <p-button class="navbar__button" label="lines"
  (click)="navigate('/lines')"></p-button>

  <p-button class="navbar__button" label="localizaciones"
    (click)="navigate('/locations')"></p-button>

  <p-button icon="pi pi-power-off" class="navbar__button--logout" severity="warning" />

</div>

<div class="progress-container">
  <p-progressBar [mode]="mode" [style]="{ height: '4px' }"></p-progressBar>
</div>



