<app-title title="editar/ crear localizaciones">

</app-title>


<div class="container">

  <p-dropdown
    [filter]="true"
    [disabled]="edit"
    [options]="routes"
    [(ngModel)]="route"
    optionLabel="description"
    placeholder="selecciona una ruta"
  />

  <p-dropdown
    [filter]="true"
    [disabled]="edit"
    [options]="locations"
    [(ngModel)]="location"
    optionLabel="description"
    placeholder="selecciona una localización"
  />

  <p-dropdown
    [disabled]="edit"
    [options]="[
      'origin',
      'destination',
      'stop'
    ]"
    [(ngModel)]="type"
    placeholder="tipo localizacion"
  />

  <p-floatLabel>
    <input type="number"
      [disabled]="edit"
      class="p-inputtext"
      pInputText
      [(ngModel)]="position" />
    <label for="username">Posición localización</label>
  </p-floatLabel>

</div>

<div class="container">
  <p-checkbox
    [(ngModel)]="festive"
    label="festive"
    [binary]="true"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="monday"
    [binary]="true"
    label="monday"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="tuesday"
    label="tuesday"
    [binary]="true"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="wednesday"
    label="wednesday"
    [binary]="true"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="thursday"
    label="thursday"
    [binary]="true"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="friday"
    label="friday"
    [binary]="true"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="saturday"
    label="saturday"
    [binary]="true"
    inputId="binary"
  />

  <p-checkbox
    [(ngModel)]="sunday"
    label="sunday"
    [binary]="true"
    inputId="binary"
  />

</div>

<!--
  <div class="footer-fixed">
    <p-button
      *ngIf="!edit"
      label="Crear"
      [raised]="true"
      (click)="createItem()"
    />

    <p-button
      *ngIf="edit"
      label="Editar"
      [raised]="true"
      (click)="updateItem()"
    />
  </div>
-->

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
