<app-title title="editar/ crear localizaciones">

</app-title>


<div class="container">

  <p-dropdown
    [filter]="true"
    [disabled]="edit"
    [options]="routes"
    [(ngModel)]="route"
    optionLabel="description"
    placeholder="selecciona una ruta"
    optionLabel="description"
  >
    <ng-template let-item pTemplate="item">
      <div [ngStyle]="{'border-bottom': '5px solid ' + item.color}">
        <span>{{item.description}} - {{item.number}}</span>
      </div>
    </ng-template>
  </p-dropdown>

  <p-dropdown
    [filter]="true"
    [disabled]="edit"
    [options]="locations"
    [(ngModel)]="location"
    optionLabel="description"
    placeholder="selecciona una localización"
  />

  <p-dropdown
    [disabled]="edit"
    [options]="[
      'origin',
      'destination',
      'stop'
    ]"
    [(ngModel)]="type"
    placeholder="tipo localizacion"
  />

  <p-floatLabel>
    <input type="number"
      [disabled]="edit"
      class="p-inputtext"
      pInputText
      [(ngModel)]="position" />
    <label for="username">Posición localización</label>
  </p-floatLabel>

</div>

<app-footer [ctaButtons]="ctaButtons"></app-footer>

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
