
<div class="card">

  <div>
    <p-button (click)="navigate('/island')" class="" label="añadir isla" [text]="true" severity="secondary">
    </p-button>
  </div>

  <p-table [value]="islands" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>lineas de guagua</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-island>
      <tr>
        <td>{{ island.name }}</td>
        <td>23</td>
        <td>

          <p-button (click)="navigate('/island', island.island_id)" class="" label="editar" [text]="true"
            severity="secondary"></p-button>
          <p-button (click)="confirm(island.island_id)" class="" label="eliminar" [text]="true"
            severity="secondary"></p-button>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
