
<app-title title="gestión rutas">

</app-title>

<div class="card">

  <p-button
    label="Añadir ruta"
    icon="pi pi-plus" [outlined]="true"
    severity="warning"
    (click)="add()"
  >

  </p-button>

  <p-table [value]="routes" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>(id)</th>
        <th>number</th>
        <th>description</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{ route.id_routes }}</td>
        <td>{{ route.number }}</td>
        <td>{{ route.description }}</td>
        <td>

          <p-button (click)="edit(route.id)" icon="pi pi-file-edit" severity="help" />
          <p-button (click)="delete(route.id)" icon="pi pi-trash" severity="warning" />

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
