<p-button
  label="Añadir parada a linea"
  icon="pi pi-check" [outlined]="true"
  severity="warning"
  (click)="add()">

</p-button>
<div class="card">
  <p-table [value]="routes" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>number</th>
        <th>description</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-route>
      <tr>
        <td>{{ route.number }}</td>
        <td>{{ route.description }}</td>
        <td>

          <p-button (click)="confirm()" icon="pi pi-trash" severity="warning" />
          <p-button icon="pi pi-file-edit" severity="help" />

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
