
<app-title title="restriccions por hora de la línea">

</app-title>

<div class="card">

  <p-dropdown
    [filter]="true"
    [options]="routes"
    [(ngModel)]="route"
    optionLabel="description"
    placeholder="selecciona una ruta"
    (onChange)="onOptionChange($event)"
  />

    <p-table [value]="items">


      <ng-template pTemplate="header">
        <tr>

        <th>(id)</th>

        <th>hora</th>

        <th>localizacion</th>

        <th>
        linea
        </th>

        <th>
        monday
        </th>

        <th>
        tuesday
        </th>

        <th>
        wednesday
        </th>

        <th>
        thursday
        </th>

        <th>
        friday
        </th>

        <th>
        saturday
        </th>

        <th>
        sunday
        </th>

        <th>
        festive
        </th>

        <th>
        acciones
        </th>

        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-item>

      <tr>

      <td>
        {{ item.id_itinerary_specific_hour }}
      </td>

      <td>
        {{ item.value }}
      </td>

      <td>
        {{ item.location_descripcion }}
      </td>

      <td>
        {{ item.description }}
      </td>

      <td>
        <button (click)="all(item)">
          all
        </button>
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.monday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.tuesday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.wednesday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.thursday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.friday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.saturday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.sunday_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-checkbox [(ngModel)]="item.festive_enabled" [binary]="true" inputId="binary" />
      </td>

      <td>
        <p-button (click)="update(item)" icon="pi pi-file-edit" severity="warning" />
      </td>

      </tr>

      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
        <td colspan="11">No data.</td>
        </tr>
      </ng-template>
    </p-table>

</div>

<app-footer [ctaButtons]="ctaButtons"></app-footer>

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
