<div class="container">

  <p-floatLabel>
    <input id="username" type="text"
      class="p-inputtext-lg"
      pInputText
      [(ngModel)]="number" />
    <label for="username">Número de línea</label>
  </p-floatLabel>

  <p-floatLabel>
    <input id="username" type="text"
      class="p-inputtext-lg"
      pInputText
      [(ngModel)]="description" />
    <label for="username">Descripción línea</label>
  </p-floatLabel>

</div>

<div class="footer-fixed">
  <p-button
    *ngIf="!edit"
    label="Crear"
    [raised]="true"
    (click)="createItem()"
  />

  <p-button
    *ngIf="edit"
    label="Editar"
    [raised]="true"
    (click)="updateItem()"
  />
</div>
