<app-title title="formulario ruta">

</app-title>


<div class="container">

  <p-floatLabel>
    <input
      id="number"
      type="text"
      class="p-inputtext-lg"
      pInputText
      [(ngModel)]="number" />
    <label for="number">Número de línea</label>
  </p-floatLabel>

  <p-floatLabel>
    <input
      id="description"
      type="text"
      class="p-inputtext-lg"
      pInputText
      [(ngModel)]="description" />
    <label for="description">Descripción línea</label>
  </p-floatLabel>

  <p-floatLabel>
    <input
      id="color"
      type="text"
      class="p-inputtext-lg"
      pInputText
      [(ngModel)]="color" />
    <label for="color">Color</label>
  </p-floatLabel>

  <p-colorPicker [(ngModel)]="color" />

</div>

<app-footer [ctaButtons]="ctaButtons"></app-footer>

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
