.container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 2px solid gainsboro;
  padding: 1em;
  margin: 1em;
}

.custom-hour {
  border: 1px gray solid;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

p-dropdown {
  margin-left: 1em;
  margin-right: 1em;
}

input {
  margin-left: 1em;
  margin-right: 1em;
}

p-checkbox {
  margin-left: 2em;
  margin-right: 2em;
}

.group_button {
  margin-left: 20px;
  border-radius: 5px;
  button {
    margin-left: 1em;
    background: white;
    height: 30px;
    color: grey;
    border-radius: 5px;
  }
}
