
<app-title title="restriccions por día de la semana">

</app-title>

<div class="card">

  <p-dropdown
    [filter]="true"
    [options]="routes"
    [(ngModel)]="route"
    optionLabel="description"
    placeholder="selecciona una ruta"
    (onChange)="onOptionChange($event)"
  />

  <p-dropdown
    [filter]="true"
    [options]="locations"
    [(ngModel)]="location"
    optionLabel="description"
    placeholder="selecciona una localización"
    (onChange)="onOptionChange2()"
  />

  <br>
  <br>
  <br>

  <div style="border: 1px solid blueviolet;">
    <div class="group_button">
      <button (click)="selectAll()">select all</button>


      <button (click)="quitAll()">quit all</button> <br>

    </div>

    <div class="group_button">
      <button (click)="selectWeekdays()">select week days</button>


      <button (click)="quitWeekdays()">quit week days</button>
    </div>


    <div class="group_button">
      <button (click)="selectSundaysAndHolidays()">select sundays and holidays</button>


      <button (click)="quitSundaysAndHolidays()">quit sundays and holidays</button>

    </div>
  </div>


      <table>
        <tr>
          <td>día de la semana</td>
          <td>activo</td>

        </tr>

        <tr>
          <td>
            monday
          </td>
          <td>
            <p-checkbox [(ngModel)]="monday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            tuesday
          </td>
          <td>
            <p-checkbox [(ngModel)]="tuesday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            wednesday
          </td>
          <td>
            <p-checkbox [(ngModel)]="wednesday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            thursday
          </td>
          <td>
            <p-checkbox [(ngModel)]="thursday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            friday
          </td>
          <td>
            <p-checkbox [(ngModel)]="friday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            saturday
          </td>
          <td>
            <p-checkbox [(ngModel)]="saturday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            sunday
          </td>
          <td>
            <p-checkbox [(ngModel)]="sunday" [binary]="true" inputId="binary" />
          </td>
        </tr>

        <tr>
          <td>
            festive
          </td>
          <td>
            <p-checkbox [(ngModel)]="festive" [binary]="true" inputId="binary" />
          </td>
        </tr>

      </table>

</div>

<app-footer [ctaButtons]="ctaButtons"></app-footer>

<p-toast />

<p-confirmDialog>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
