.card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

p-button {
  margin-left: 10px;
}

p-dropdown {
  margin-left: 10px;
}

.text-orange {
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: orange;
}

.text-red {
  text-align: center;
  border-radius: 10px;
  color: white;
  background-color: orangered;
}
